body {
  margin: 0;
  background: #abc;
  font-size: 16px;
  color: #333;
  @media(min-width: 321px){
    padding-top: 1em;
  }
}
h1,h2,h3,h4 {
  margin-bottom: 0;
}
.container {
  max-width: 320px;
  margin: 0 auto;
  background: rgba(255, 255, 255, .5);
  box-sizing: border-box;
  padding: 5px;
  @media(min-width: 321px) {
    border-radius: 10px;
  }
}
