.brand{
  color: $color-white;
  text-shadow: 0 -1px $color-black-transparent-tint;
  text-align: center;
  margin-top: 0;
}

.countdown {
  display: block;
  font-size: 7em;
  color: $color-white;
  text-shadow: 0 -1px $color-black-transparent-shade,
    1px -2px $color-black-transparent-shade;
  text-align: center;
}

.onoff {
  display: block;
  margin: 10px auto;
  color: white;
  color: $color-white-transparent-tint;
  border-radius: 10px;
  padding: .2em;
  font-size: 3em;
  width: 280px;
  cursor: pointer;
  box-sizing: padding-box;
  border: 4px solid $color-white-transparent-tint;
  opacity: .8;
  animation: 180s background_swatch infinite;
  &:focus{
    outline: none;
  }
  &:hover {
    opacity: 1;
    border: 4px solid $color-white;
  }
}

.current_status {
  //text-align: center;
}

input[type=range]{
    -webkit-appearance: none;
    width: 220px;
    opacity: .8;
    margin-top: 12px;
}

input[type=range]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 10px;
    background: $color-white;
    border-top: 2px solid $color-black-transparent-tint;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 8px solid $color-white-transparent-tint;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background: $color-black;
    background: $color-black-transparent-tint;
    margin-top: -12px;
}

input[type=range]:focus {
  outline: none;

  &::-webkit-slider-runnable-track {
    background-color: $color-white;
    background: $color-white-transparent-shade;
  }
  &::-webkit-slider-thumb {
    background: $color-yellow;
    border: 8px solid $color-orange;
  }
}

input[type="number"]{
  width: 1.7em;
  font-size: 2em;
  border-radius: 5px;
  margin-left: 10px;
  border: none;
  background: none;
  color: $color-white;
  color: $color-white-transparent-tint;
  float: right;
}
