.brand {
  margin-top: 0;
  color: $color-white;
  text-align: center;
  text-shadow: 0 -1px $color-black-transparent-tint;
}

.countdown {
  display: block;
  color: $color-white;
  font-size: 7em;
  text-align: center;
  //create a deep embedded effect
  text-shadow: 0 -1px $color-black-transparent-shade,
  1px -2px $color-black-transparent-shade;
}

.onoff {
  display: block;
  width: 280px;
  margin: 10px auto;
  padding: .2em;
  border: 4px solid $color-white-transparent-tint;
  border-radius: 10px;
  color: $color-white;
  color: $color-white-transparent-tint;
  font-size: 3em;
  cursor: pointer;
  opacity: .8;
  box-sizing: padding-box;
  animation: 180s background_swatch infinite;

  &:focus {
    outline: none;
  }

  //make it darker on hover
  &:hover {
    border: 4px solid $color-white;
    opacity: 1;
  }
}

input[type=range] {
  -webkit-appearance: none;
  margin-top: 12px;
  opacity: .8;
  width: 220px;
}

input[type=range]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 10px;
    background: $color-white;
    border-top: 2px solid $color-black-transparent-tint;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 8px solid $color-white-transparent-tint;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background: $color-black; //rgba fallback
    background: $color-black-transparent-tint;
    margin-top: -12px;
}

input[type=range]:focus {
  outline: none;

  &::-webkit-slider-runnable-track {
    background-color: $color-white; //rgba fallback
    background: $color-white-transparent-shade;
  }
  &::-webkit-slider-thumb {
    background: $color-yellow;
    border: 8px solid $color-orange;
  }
}

input[type="number"]{
  width: 1.7em;
  font-size: 2em;
  border-radius: 5px;
  margin-left: 10px;
  border: none;
  background: none;
  color: $color-white;
  color: $color-white-transparent-tint;
  float: right;
}

footer {
  text-align: center;
  a {
    color: $color-white;
    color: $color-white-transparent-tint;

    &:hover {
      color: $color-white;
    }
  }
}
