<!doctype html>
<html>
<head>
  <title>Wee Pomodoro Clock</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="public/scripts/main.js"></script>
  <link rel="stylesheet" href="public/styles/main.css" type="text/css" />
  <link rel="icon" type="image/png" href="./favicon.png" sizes="128x128">
</head>
%body
  %div.container
    %h1.brand Wee Pomodoro Clock
    %section.config
      %h2 Set Timers
      %h3 Choose Session Duration
      %input.pomodori_slide{type:"range",min:1,max:90,step:1,value:25}
      %input.pomodori_text{type:"number",min:1,max:90,step:1,value:25}
      %h3 Choose Break Duration
      %input.break_slide{type:"range",min:1,max:90,step:1,value:5}
      %input.break_text{type:"number",min:1,max:90,step:1,value:5}
    %section.clock
      %h2.current_status Pomodori in progress
      %span.countdown 25:00
      %button.onoff Start
    %section.shortcuts
      %h4 Keyboard shortcuts
      %ul
        %li Tab to select different controls
        %li Right arrow / Left arrow on slides
        %li Up arrow / down arrow on time boxes
        %li Space bar to start/stop clock
</html>
